@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #222831;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #393E46;
    text-transform: uppercase;
    padding: 20px;
    height: 20px;
}

.navBar span {
    color: #00ADB5;
    font-weight: bolder;
    font-size: 1.5rem;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 20px;
}

.artigo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px;
}

.info__noticia  {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-grow: 1;
    background-color: #EEEEEE;
    border-radius: 10px;
    text-align: center;
}

.info__ImagemTop {
    width: 50%;
    margin: auto;
}

.info__title {
    color: #00ADB5;
    padding: 10px 0;
}

.info__author {
    padding: 10px 0;
}

.info__description {
    padding: 10px 0;
}

.info__publishedAt {
    padding: 5px 0;
}